@import './colors';
@import './mixins';
@import './fonts';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

body {
  margin: 0;
  font: 16px / 1.6 'comme', sans-serif;
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    color: $accent-second;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  opacity: 1;
  animation: 650ms fadeIn;

  .name {
    font-family: 'sinanova';
    font-size: 75px;
    color: #232323;
  }

  .subtitle {
    margin-top: -20px;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }

  &.content-page {
    position: static;
    transform: none;
    text-align: left;
    margin: 50px auto;
    width: 950px;

    .portrait {
      display: inline-block;
      width: calc(100% - 600px);
      box-sizing: border-box;
      padding-right: 30px;
      margin-top: 20px;
      vertical-align: top;

      img {
        width: 100%;

        &.lazyload {
          filter: blur(10px);
          --webkit-filter: blur(10px);
        }
      }
    }

    .content {
      max-width: 600px;
      display: inline-block;

      .textblock {
        margin-bottom: 25px;
      }
    }

    .name {
      font-size: 55px;
      margin-bottom: 15px;
    }

    .subtitle {
      margin-top: 0;

      a {
        font-weight: 500;
      }
    }

    @media only screen and ( max-width: 980px ) {
      width: auto;
      margin: 20px;

      .photo {
        display: none;
      }
    }

    @media only screen and ( max-width: 380px ) {
      .name {
        font-size: 45px;
      }
    }
  }

  @media only screen and ( max-width: 835px ) {
    width: 278px;

    .name {
      font-size: 50px;
      margin-bottom: 8px;

      &.discord {
        font-size: 25px;
      }
    }
  }
}

.socials {
  margin-top: 30px;

  .social {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    margin-right: 15px;
    background: $gray;
    color: #fff;
    font-size: 24px;
    transition: all 150ms ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    @include social-icon(gh, $github);
    @include social-icon(tw, $twitter);
    @include social-icon(li, $linkedin);

    &.resume {
      width: auto;
      padding: 0 10px;
      font-size: 20px;
      vertical-align: top;

      &:hover {
        background: $gray-darker;
      }
    }
  }
}
