/* Sina Nova */
@font-face {
    font-family: 'sinanova';
    src: url('/fonts/sinanova/sinanova.woff2') format('woff2'),
         url('/fonts/sinanova/sinanova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Comme */
@font-face {
    font-family: 'comme';
    src: url('/fonts/comme/comme-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'comme';
    src: url('/fonts/comme/comme-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
