- let title = '404!!';
- let description = '404 - page not found'

html(lang='en')
  head
    include ./components/head
  body
    main.page
      section.name error 404
      section.subtitle page not found
      nav.navigation
        a(href='/') home
