- let title = 'József Sallai';
- let description = 'Personal website of József Sallai - software engineer proficient in Node.js, Go, PHP, and Python.';

doctype html
html(lang='en')
  head
    include ./components/head
  body
    main.page.content-page
      .portrait
        img(src='/images/photo2-lazyload.jpg', class='lazyload', alt=title)
      .content
        section.name
          span.name-inner(title='Click here to find out how to pronounce my name!')= title
        section.subtitle About
        section.textblock
          | I am a software engineer with rich experience in Node, Go,
          | Python, C++, and PHP. I'm at home with frontend frameworks
          | such as Vue, React, and Svelte.
        section.subtitle Experience
        section.textblock
          | I've been involved with the development of all sorts of
          | web apps and sites, ranging from portfolio websites to
          | enterprise&dash;scale social networks and web frameworks.
        section.subtitle
          | Contact Me:
          |
          a(href='mailto:jozsef@sallai.me') jozsef (at) sallai.me
        section.socials
          a.social.gh.fa.fa-github(href="https://github.com/jozsefsallai", target="_blank")
          a.social.li.fa.fa-linkedin(href="https://www.linkedin.com/in/sallai/", target="_blank")
          a.social.tw.fa.fa-twitter(href="https://www.twitter.com/jozsefsallaidev", target="_blank")
          a.social.blog(href='https://blog.sallai.me') Blog
          a.social.resume(href="https://s3-us-west-1.amazonaws.com/sallai/Jozsef-Sallai-Resume-2021.pdf") Resumé
